################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasicAspApp/obj
/BasicConsoleApp/obj
/BasicAspApp/bin
/BasicConsoleApp/bin
bin
obj
packages
*.user
