@{
   ViewBag.Title = "Create Employee";
}
<h1>新增员工</h1>
<form action="Employees/Create">
    <label for="name">Name</label>
    <input type="text" id="Name">
    <input type="submit" value="save">
</form>