@{ 
    ViewBag.Title = "Employees - Detail";
}
<h1>Welcome!</h1>
<div>This is from Employees/Detail.cshtml</div>
<p><a href="/Employees">Back to list</a></p>
<table>
    <tr>
        <td>Employee ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>@Model.Name</td>
    </tr>
</table>