<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="color:red;">This is from _Layout_Home.cshtml.</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>